* {
    box-sizing: border-box;
  }

body {
    background-color: #fff7f0;
}

/* --------------------top-bar------------------- */

header {
    display: flex;
    justify-content: center;
}

#img-logo {
    height: 100%;
    aspect-ratio: 1/1;
    
}

#header-bar {
    display: flex;
    justify-content: space-between;
    width: 1111px;
    height: 64px;
    margin-top: 34px;
}


.cta {
    border-radius: 100px;
    color: white;
    text-decoration: none;
    font-family: "Plus Jakarta Sans", sans-serif;
    width: 228px;
    height: 56px;
    align-content: center;
    text-align: center;
}

#cta-1 {
    background-color: black;
}

/* --------------------hero----------------------- */

#hero {
    justify-items: center;
}

#h1-hero {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 56px;
    font-style: bold;
}

#p-hero {
    color: #7A746e;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    width: 730px;
    height: 56px;
    text-align: center;
}

/* --------------------solutions----------------------- */

#solutions {
    display: flex;
    gap:24px;
    justify-content: center;
}

.solutions-inside {
    width: 354px;
    height: 364px;
    padding: 24px;
    border-radius: 8px;
}

.sec-title {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 24px;
    font-style: bold;
    grid-area: text;
    color: white;
    align-self: end;
    padding: 0px;
    margin: 0px;
}

section {
    padding: 24 px;
}

#sec-1 {
    background-color:#755CDE ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "void img"
    "void img"
    "text text"
    ;
}

#sec-2 {
    background-color: #EB7565;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "img img"
    "text text"
}

#sec-3 {
    background-color: #61C4B7 ;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 4fr 1fr;
    grid-template-areas: 
    "void img"
    "text text"
}

img {
    grid-area: img;
    justify-self: end;
}


#img-1 {
    width: 128px;
    height: auto;
}

#img-2 {
    width: 229.75px;
    height: auto;
}

#img-3 {
    width: 86.66px;
    height: auto;
}

/* -------------------about-me-------------------------- */

#photo {
    width: 445px;
}

#abt-me {
    margin-top: 136px;
    display: flex;
    justify-content: center;
}

section > h2 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 40px;
    font-style: bold;
    color: black;
}

#sec-photo {
    margin-right:125px;
}

#sec-info {
    width: 540px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-style: medium;
    color: #7A746E;
}

#cta-2 {
    background-color: #EB7565;
    display: block;
}

